*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
 scroll-behavior: smooth;    
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(120deg, rgb(72, 198, 239, 0.5) 0%, rgb(111, 134, 214, 0.5) 100%),url(../img/home.jpg);
    /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgba(255, 255, 255, 1);
    text-align: center;
}

.burga{
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(10, 69, 109, 0.699);
}
.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #676aeb 0%, rgba(10, 69, 109, 0.699) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out; 
    transform: translate(110%);
    box-shadow: 0 0 300px rgb(150, 230, 161, 0.5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
color: #FFF;
text-decoration: none;
font-size: 30px;
}
.titulo{
   font-size: 60px;
   margin-bottom: 15px;
}

.copy{
font-weight: 300;
font-size: 25px;
}
/* nuestro servicio */
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgba(10, 69, 109, 0.699);
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 50px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
width: 45%;
}

.checklist-servicio{
    width:45%;
}

.service{
    margin-bottom: 20px;
}

.nservices{
    margin-bottom: 7px;
    color: rgba(10, 69, 109, 0.699);
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, rgb(142, 201, 240) 0%, #0a9dc2 100%);   
    width: 30px;
    height: 30px;
    color: #FFF;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 4px;
}

.gallery{
    /* background: #dcf5ff; */
}
.contenedor-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-gallery{
    width: 35%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(10, 69, 109, 0.699);
    cursor: pointer;
    object-fit: cover;
}

.image-light{
    position: fixed;
    background: rgba(10, 69, 109, 0.699);
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(110%);
    transition: transform .2s ease-in-out;
}
.show{
    transform: translate(0);
}

.agregar-imagen{
    width: 50%;
    border-radius: 50px;
    transform:scale(1);
    transition: transform .3s .2s;
    object-fit: cover;
}

.close{
    position: absolute;
    top:15px;
    right: 15%;
    width: 50px;
   cursor: pointer;

}

.show-image{
    transform: scale(0s);
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 70%;
    margin: auto;
    display: block;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
    color: rgba(10, 69, 109, 0.699);
}


/* footer */
footer{
    background: rgb(140, 198, 231,0.8);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-top: 40px;
}

.contact-us{
width: 40%;
color: #FFF;
}

.brand{
font-weight: 500;
font-size: 40px;
}

.brand+p{
    font-weight: 500;
    }

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 80px;
    height: 80px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    background: rgb(140, 198, 231);
    color: rgb(255, 255, 255);
}

.social-media-icon:hover{
    background: rgb(255, 255, 255);
    color: rgb(140, 198, 231);
}

.social-media-icon i{
    font-size: 40px;
    line-height: 80px;
}
.line{
    width:80%;
    max-width: 1000px;
    height: 2px;
    margin: 0 auto;
    background: #FFF;
    margin-bottom: 60px;
}
.download-cv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 10px;
}

.download-cv img{
    margin-inline-end: 20px;
}

.download-cv:hover{
    
    background-color: #21a8ca85;
}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }
    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist-servicio{
        width: 80%;
    }
    .agregar-imagen{
        width:80%
    }
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .agregar-imagen{
        width: 95%;
    }

    .burga{
        top:20px;
        right: 20px;
    }
    
    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 35px;
    }
}